.App {
  text-align: center;
  background-color: #fff;
}

.inputContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 30px;
}
.errorContainer {}

.errorMessage {
  color: red;
}
